.member-card {
    @extend %list-item;
    position: relative;
    width: 380px;
    text-align: center;
  
    &__overlay {
      @include transition;
      position: relative;
  
      &:hover {
        transform: translate(-10px, -10px);
        box-shadow: 10px 10px 0 map-get($color, like_menu);
      }
  
      &:focus-within .member-card__social-list,
      &:hover .member-card__social-list {
        opacity: 1;
      }
    }
  
    &__social-list {
      @include transition;
      @include content-center-flex($type: 'all');
      position: absolute;
      width: 100%;
      height: 100%;
      background: map-get($color, gradient_overlay);
      opacity: 0;
    }
  }
  
  .social-list {
    &__item {
      @extend %list-item;
  
      &:not(:last-child) {
        margin-right: 1px;
      }
    }
  
    &__link {
      @include transition;
      display: block;
      width: 56px;
      height: 56px;
      background-color: map-get($color, bg_icon);
      
      &:hover,
      &:focus {
        background-color: map-get($color, after_line);
      }
  
      &:hover .social-list__icon,
      &:focus .social-list__icon {
        fill: map-get($color, color_white);
      }
    }
  
    &__icon {
      @include transition;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 26px;
      fill: map-get($color, after_line);
    }
  }
  
  .member-card__member-name {
    @extend %mid-title-style;
    margin: 28px 0 10px;
  }
  
  
  .mamber-card__employee-position {
    @extend %light-text;
    @extend %light-text-ital;
  }