.team {
    @extend %section-padding;
  }
  
  .team__title {
    @extend %title-style;
  
    &::after {
      @include pseudo;
      @extend %title-line;
    }
  }
  
  .team__sub-title {
    @extend %title-sub;
  }
  
  .team-title-block__text {
    @extend %light-text;
    margin: 0 auto 90px;
    max-width: 960px;
    text-align: center;
  }