* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;    
}
*::before,
*::after{
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
.clearfix::after {
 display: table;
 content: "";
 clear: both;
}
.container {
 margin: 0 auto;
 width: 1140px;
 padding: 0 10px;
}
.header {
 padding-top: 35px;
 padding-bottom: 100px;
 line-height: 30px;
}
.logo {
 float: left;
 margin: 0;
}
.logo::first-letter {
 font-weight: 900;
 color: rgb(26, 188, 156);
}
.logo_heading {
 font-family: "Roboto", sans-serif;
 font-size: 30px;
 color: rgb(85, 82, 82);
 letter-spacing: -0.6px;
 font-weight: 300;
 text-transform: uppercase;
}
.menu {
 float: right;
}
.menu_link {
 float: left;
 margin-left: 35px;
 text-transform: uppercase;
 list-style: none;
}
.menu a {
 font-size: 14px;
 letter-spacing: -0.28px;
 color: rgb(15, 1, 1);
 transition: all 0.3s;
 font-family: "Open Sans", sans-serif;
 font-weight: bold;
}
.menu_link a:hover {
 color: rgb(26, 188, 156);
}
.products {
 padding-bottom: 95px;
}
h2 {
 text-align: center;
 font-family: "Roboto", sans-serif;
 font-weight: 900;
 font-size: 48px;
 letter-spacing: -0.96px;
 text-transform: uppercase;
}
h2::after {
 content: "";
 margin: 20px auto 0px;
 display: block;
 width: 164px;
 height: 7px;
 background-color: rgb(26, 188, 156);
}
.products_heading {
 padding-bottom: 90px;
}
.card {
 float: left;
 width: 255px;
 margin-bottom: 30px;
 list-style: none;
 background-color: rgb(233, 240, 253);
} 
.card:not(:nth-child(4n)) {
 margin-right: 30px;
} 
.card:nth-last-child(-n + 4) {
 margin-bottom: 0px;
} 
.card:hover .card_line_price {
    background-color: rgb(26, 188, 156);
} 
.card_img {
 display: block;
}
.card_line_price {
 font-weight: 900;
 line-height: 40px;
 letter-spacing: -0.36px;
 text-transform: uppercase;
 background-color: rgb(50, 50, 50);
 transition: all 0.3s;
}
.card_name a {
 padding-left: 14px;
 font-family: "Roboto", sans-serif;
 font-size: 18px;
 color: rgb(255, 255, 255);
}
.card_price {
 float: right;
 text-align: center;
 width: 54px;
 height: 40px;
 font-family: "Roboto", sans-serif;
 font-size: 18px;
 color: rgb(255, 255, 255);
 background-color: rgba(255, 255, 255, 0.44);
}
.news {
 padding-bottom: 80px;
}
.news_heading {
 padding-bottom: 80px;
}
.news_heading::after {
 background-color: rgb(78, 198, 172);
}
.news_list {
 list-style: none;
  }
.news_card {
 float: left;
 width: 346px;
}
.news_card:not(:nth-child(3n)) {
 margin-right: 36px;
}
.news_img {
 display: block;
}
.news_title {
 padding-top: 9px;
 padding-bottom: 26px;
 font-weight: 600;
 font-size: 18px;
 letter-spacing: -0.36px;
 line-height: 26px;
 color: rgb(85, 82, 82);
 font-family: "Open Sans", sans-serif;
}
.news_title::after {
 content: "";
 margin-top: 9px;
 display: block;
 width: 136px;
 height: 3px;
 background-color: rgb(78, 198, 171);
}
.news_article {
 font-size: 14px;
 letter-spacing: -0.28px;
 line-height: 24px;
 font-family: "Open Sans", sans-serif;
 color: rgb(85, 82, 82);
}
.news_knob {
 display: inline-block;
 margin-top: 13px;
 padding: 17px 42px;
 text-align: center;
 font-size: 16px;
 font-weight: 300;
 letter-spacing: -0.32px;
 border: none;
 border-radius: 5px;
 color: #fff;
 background-color: rgb(78, 198, 171);
}
h3 {
    float: left;   
}