.mart {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(26, 188, 156);
    text-transform: uppercase;
    line-height: 1.067;
    position: absolute;
    left: 259.391px;
    top: 66.336px;
    width: 78px;
    height: 21px;
    z-index: 115;
  }
  .Home__________About_Us___________page_________s {
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(26, 188, 156);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.786;
    text-align: right;
    position: absolute;
    left: 820.765px;
    top: 48.902px;
    width: 467px;
    height: 10px;
    z-index: 118;
  }
    